body, div, p, ul, li, dl, dt, dd, ol, h1, h2, h3, h4, h5, h6, pre, form, fieldset, textarea, blockquote {
    padding: 0;
    margin: 0;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 15px;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 3px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 16px;
}

a:hover, a:active {
}

a.one:link, a.one:visited {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #000;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 16px;
    border-color: red;
}

a.one:hover, a.one:active {
}

.top {
    height: 127px;
    padding-bottom: 5px;
    background-color: black;
    color: rgb(255,255,255);
    border-radius: 5px 5px 5px 5px;
    position: relative;
}

#triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 132px 0 0 105px;
    border-color: transparent transparent transparent #000;
    position: absolute;
    left: 0px;
    top: 0px;
    margin-left: 31%;
}



#logo {
    margin-left: 50px;
    padding: 10px;
    float: left;
    width: 372px;
}

#headerContainer {
    padding: 40px;
    text-align: center;
    margin-left: 31%;
    background-color: white;
}

.search {
    width: 50%;
}

#Loginview1 {
    float: right;
    padding: 10px;
    text-align: right;
}

.modalBackground {
    background-color: black;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.modalPopup {
    border: 3px solid red;
    background-color: Black;
    text-align: right;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
    color: rgb(255,255,255);
    font-size: 14px;
}



.wrapper {
    width: 1200px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    border: 0px;
}

.clear {
    clear: both;
}

.foo {
    border: 0px;
}



    .foo a:link {
        padding: 0px;
    }

    .foo a:visited {
        padding: 0px;
    }

.content {
    background-color: rgb(254,254,254);
    border: 2px solid red;
    border-radius: 5px 5px 5px 5px;
    width: 62%;
    margin-top: 8px;
    margin-bottom: 0%;
    min-height: 400px;
    position: absolute;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
}

#rightbar {
    margin-top: 500px;
}

.rightbar {
    width: 200px;
    background-color: #fff;
    border: 0px;
    margin-left: 64%;
    margin-top: 10px;
    text-align: left;
    min-height: 450px;
    position: absolute;
}

    .rightbar a:link {
        padding: 0px;
    }

    .rightbar a:visited {
        padding: 0px;
    }


.right {
    height: 2px;
    background: red;
    width: 100%;
}

.right a:link {background: none}




.menu {
    margin-top: 8px;
    margin-bottom: 8px;
    border: 0px solid red;
    width: 200px;
    padding: 0px;
    min-height: 400px;
    background-color: #000;
    color: #fff;
}



.clear {
    clear: both;
}

.footer {
    height: 4px;
    background-color: #000;
    color: #fff;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid red;
}

    .footer h2 {
        padding: 15px;
        text-align: center;
    }


